<sky-modal xmlns="http://www.w3.org/1999/html" (onClose)="console.log('Does this work?')">
    <sky-modal-header>
        Event View
    </sky-modal-header>
    <sky-modal-content>
        <h2>
            {{this.event.name}}
        </h2>
        <sky-definition-list-heading>
            Event Details
        </sky-definition-list-heading>
        <sky-definition-list labelWidth="150px">
            <sky-definition-list-content>
                <sky-definition-list-label>
                    Location
                </sky-definition-list-label>
                <sky-definition-list-value>
                    {{this.event.location}}
                </sky-definition-list-value>
            </sky-definition-list-content>
            <sky-definition-list-content>
                <sky-definition-list-label>
                    Date
                </sky-definition-list-label>
                <sky-definition-list-value>
                    {{this.event.date | date: 'short'}}
                </sky-definition-list-value>
            </sky-definition-list-content>
            <sky-definition-list-content>
                <sky-definition-list-label>
                    Capacity
                </sky-definition-list-label>
                <sky-definition-list-value>
                    {{this.event.capacity}}
                </sky-definition-list-value>
            </sky-definition-list-content>
            <sky-definition-list-content>
                <sky-definition-list-label>
                    Remaining Tickets
                </sky-definition-list-label>
                <sky-definition-list-value>
                    {{this.event.remainingInventory}}
                </sky-definition-list-value>
            </sky-definition-list-content>
            <sky-definition-list-content>
                <sky-definition-list-label>
                    Base Price
                </sky-definition-list-label>
                <sky-definition-list-value>
                    {{this.event.tickets[0].basePrice}}
                </sky-definition-list-value>
            </sky-definition-list-content>
            <sky-definition-list-content>
                <sky-definition-list-label>
                    Current Price
                </sky-definition-list-label>
                <sky-definition-list-value>
                    {{this.event.tickets[0].currentPrice}}
                </sky-definition-list-value>
            </sky-definition-list-content>
        </sky-definition-list>

        <h2>Dynamic Pricing Triggers</h2>

        <div *ngFor="let dynamicRule of dynamicRules; let i=index">
            <sky-definition-list labelWidth="150px">
                <sky-definition-list-heading>
                    Trigger {{i+1}}
                </sky-definition-list-heading>
                <sky-definition-list-content>
                    <sky-definition-list-label>
                        Percent Sold
                    </sky-definition-list-label>
                    <sky-definition-list-value>
                        {{this.dynamicRule.percentSoldThreshold | number:'1.2-2'}}%
                    </sky-definition-list-value>
                </sky-definition-list-content>
                <sky-definition-list-content>
                    <sky-definition-list-label>
                        Price Change
                    </sky-definition-list-label>
                    <sky-definition-list-value>
                        {{this.dynamicRule.priceChange | currency:'USD':true:'1.2-2'}}
                    </sky-definition-list-value>
                </sky-definition-list-content>

            </sky-definition-list>
        </div>
    </sky-modal-content>
</sky-modal>
