<sky-modal xmlns="http://www.w3.org/1999/html" (onClose)="console.log('Does this work?')">
    <sky-modal-header>
        Event Read Only
    </sky-modal-header>
    <sky-modal-content>
        <sky-definition-list labelWidth="150px">
            <sky-definition-list-heading>
                {{this.event.name}}
            </sky-definition-list-heading>
            <sky-definition-list-content>
                <sky-definition-list-label>
                    Location
                </sky-definition-list-label>
                <sky-definition-list-value>
                    {{this.event.location}}
                </sky-definition-list-value>
            </sky-definition-list-content>
            <sky-definition-list-content>
                <sky-definition-list-label>
                    Date
                </sky-definition-list-label>
                <sky-definition-list-value>
                    {{this.event.date | date: 'medium'}}
                </sky-definition-list-value>
            </sky-definition-list-content>
            <sky-definition-list-content>
                <sky-definition-list-label>
                    Capacity
                </sky-definition-list-label>
                <sky-definition-list-value>
                    {{this.event.capacity}}
                </sky-definition-list-value>
            </sky-definition-list-content>
            <sky-definition-list-content>
                <sky-definition-list-label>
                    Remaining Tickets
                </sky-definition-list-label>
                <sky-definition-list-value>
                    {{this.event.remainingInventory}}
                </sky-definition-list-value>
            </sky-definition-list-content>
            <sky-definition-list-content>
                <sky-definition-list-label>
                    Base Price
                </sky-definition-list-label>
                <sky-definition-list-value>
                    {{this.event.tickets[0].basePrice}}
                </sky-definition-list-value>
            </sky-definition-list-content>
            <sky-definition-list-content>
                <sky-definition-list-label>
                    Current Price
                </sky-definition-list-label>
                <sky-definition-list-value>
                    {{this.event.tickets[0].currentPrice}}
                </sky-definition-list-value>
            </sky-definition-list-content>
        </sky-definition-list>


        <sky-definition-list labelWidth="150px">
            <sky-definition-list-heading>
                Dynamic Pricing Triggers
            </sky-definition-list-heading>
            <sky-definition-list-content>
                <sky-definition-list-label>
                    Percent Sold
                </sky-definition-list-label>
                <sky-definition-list-value>
                    {{this.dynamicRules[0].percentSoldThreshold | number:'1.2-2'}}%
                </sky-definition-list-value>
            </sky-definition-list-content>
            <sky-definition-list-content>
                <sky-definition-list-label>
                    Price Change
                </sky-definition-list-label>
                <sky-definition-list-value>
                    {{this.dynamicRules[0].priceChange | currency:'USD':true:'1.2-2'}}
                </sky-definition-list-value>
            </sky-definition-list-content>

        </sky-definition-list>
    </sky-modal-content>
</sky-modal>
