.input-capacity {
  margin-bottom: 5px;
  margin-top: 5px;
}

.input-price {
  margin-bottom: 10px;
  margin-top: 10px;
}

.sky-form-group {
  margin-bottom: 10px;
}

.time-label {
  width:20%;
  margin-top:1%;
}

.percent-sold {
  margin-bottom: 1%;
}

.percent-sold-label {
  width:20%;
  margin-top:1%;
}

.increase-by {
  margin-bottom: 1%;
}

.increase-by-label {
  width:20%;
  margin-top:1%;
}