<sky-modal xmlns="http://www.w3.org/1999/html" (onClose)="console.log('Does this work?')">
    <sky-modal-header>
        Event details
    </sky-modal-header>
    <sky-modal-content>
        <div>
            <form>

                <div class="sky-form-group">
                    <label>Event name: </label>
                    <input #list=ngModel type="text" class="sky-form-control input-field" id="name" [(ngModel)]="event.name" name="name">
                </div>

                <div class="sky-form-group">
                    <label>Event location: </label>
                    <input #list=ngModel type="text" class="sky-form-control input-field" id="location" [(ngModel)]="event.location" name="location">
                </div>

                <div class="sky-input-group">
                    <label>Time of Event: </label>
                    <sky-datepicker #datePicker>
                        <input [(ngModel)]="event.date" name="date" [skyDatepickerInput]="datePicker" #date="ngModel" class="sky-form-control" />
                    </sky-datepicker>
                    <!--<sky-timepicker #timePicker>-->
                        <!--<input type="text" name="time" [skyTimepickerInput]="timePicker" class="sky-form-control" [timeFormat]="format12" [(ngModel)]="selectedTime" #time="ngModel"/>-->
                    <!--</sky-timepicker>-->
                </div>

                <div class="sky-form-group input-capacity">
                    <label>Event capacity: </label>
                    <input #list=ngModel type="text" class="sky-form-control input-field" id="capacity" [(ngModel)]="event.capacity" name="capacity">
                </div>

                <div class="sky-form-group input-price">
                    <label>Ticket Price: </label>
                    <input #list=ngModel type="text" class="sky-form-control input-field" id="price" [(ngModel)]="event.tickets[0].basePrice" name="price">
                </div>
                <div class="sky-form-group">
                        <button *ngIf="dynamicTriggers.length===0" type="button" class="sky-btn sky-btn-primary add-dynamic-pricing-button" (click)="addDynamicTrigger()"> Add Dynamic Pricing Trigger</button>
                        <div *ngFor="let dynamicTrigger of dynamicTriggers">
                            <div class="sky-input-group">
                                <label>Percent sold: </label>
                                <input type="text" class="sky-form-control input-field" id="percentSoldThreshold" [(ngModel)]="dynamicTrigger.percentSoldThreshold" name="percentSoldThreshold.dynamicTrigger" placeholder="%">
                            </div>
                            <div class="sky-input-group">
                                <label>Increase by: </label>
                                <input type="text" class="sky-form-control input-field" id="priceChange" [(ngModel)]="dynamicTrigger.priceChange" name="priceChange.dynamicTrigger" placeholder="$">
                            </div>
                        </div>
                    </div>
            </form>
        </div>

    </sky-modal-content>
    <sky-modal-footer>
        <button type="button" class="sky-btn sky-btn-primary" (click)="save()">Save</button>
    </sky-modal-footer>
</sky-modal>
